<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    	
	<bean id="ms_rest_dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
	   <property name="driverClassName" value="${jdbc.rest.db.driverClassName}" />
	   <property name="url" value="${jdbc.rest.db.url}" />
	   <property name="username" value="${jdbc.rest.db.username}" />
	   <property name="password" value="${jdbc.rest.db.password}" />
	   <property name="removeAbandoned" value="true"/>
	   <property name="initialSize" value="1" />
	   <property name="maxActive" value="10" />
	   <property name="validationQuery" value="SELECT 1"/>
	   <property name="testOnBorrow" value="true"/>	   
	</bean>
	
	<!-- Use annotated transactions -->
	<context:annotation-config/>
	<tx:annotation-driven proxy-target-class="true" transaction-manager="awrServiceTransactionManager"/>

	<!-- JDBC Template Data source Mapping -->
	<bean id="awrServiceJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> 
    	<constructor-arg><ref bean="ms_rest_dataSource" /></constructor-arg> 
	</bean>
	<bean id="awrServiceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ms_rest_dataSource"></property>
	</bean> 

</beans>